#leaflet-combined-map[data-theme="light3"] {
    /*
        AUTOCOMPLETE
        DEFAULT*/
    /*
        FILTERS*/
    .leaflet-sidebar-tabs>li:hover,
    .leaflet-bar>a:hover,
    .leaflet-sidebar-tabs>ul>li:hover {
        background-color: rgba(171, 171, 171, 0.3);
        color: #37474f;
    }
    .leaflet-sidebar-tabs>li.active,
    .leaflet-sidebar-tabs>ul>li.active {
        background-color: rgb(239, 239, 239);
        color: rgba(33, 42, 46, 0.955);
    }
    /*
        CONNECTION LAYER*/
    .leaflet-layer-connection {
        stroke: rgb(164, 37, 255);
    }
    /*
        CHOROPLETH LAYER*/
    .leaflet-choropleth-item-basic {
        stroke: #ffffff;
    }
    .leaflet-choropleth-item-clr1 {
        fill: #8c8c8c;
    }
    .leaflet-choropleth-item-clr2 {
        fill: #ffffd4;
    }
    .leaflet-choropleth-item-clr3 {
        fill: #fee391;
    }
    .leaflet-choropleth-item-clr4 {
        fill: #fec44f;
    }
    .leaflet-choropleth-item-clr5 {
        fill: #fe9929;
    }
    .leaflet-choropleth-item-clr6 {
        fill: #da6912;
    }
    .leaflet-choropleth-item-clr7 {
        fill: #ab3f01;
    }
    .leaflet-choropleth-item-clr8 {
        fill: #671f00;
    }
    .leaflet-choropleth-item-highlight {
        fill: #7fcdbb;
    }
    .leaflet-choropleth-item-select {
        fill: #225ea8;
    }
    .leaflet-choropleth-item-deempasize {
        fill: #8c8c8c;
    }
    .leaflet-choropleth-item-hover {
        stroke-width: 4;
        opacity: 1;
        stroke: yellow;
        stroke-dasharray: none;
        fill-opacity: 0.9;
    }
    /*
        MARKER LAYER*/
    .leaflet-marker-icon circle {
        fill: #ffffff;
        fill-opacity: 0.9;
    }
    .leaflet-marker-icon text {
        fill: white;
    }
    .leaflet-marker-group circle {
        stroke-width: 2;
        stroke: black;
    }
    .leaflet-marker-level0 circle {
        fill: #b0b0b0;
    }
    .leaflet-marker-level1 circle {
        fill: #b0b0b0;
    }
    .leaflet-marker-level2 circle {
        fill: #808080;
    }
    .leaflet-marker-level3 circle {
        fill: #555555;
    }
    .leaflet-marker-level4 circle {
        fill: #222222;
    }
    .leaflet-marker-level5 circle {
        fill: #111111;
    }
    .leaflet-marker-icon path {
        opacity: 0.9;
    }
    .leaflet-marker-donut1 {
        fill: rgb(255, 45, 45);
    }
    .leaflet-marker-donut2 {
        fill: rgb(82, 111, 255);
    }
    .leaflet-marker-donut3 {
        fill: rgb(242, 154, 255);
    }
    .leaflet-marker-icon>div>svg>text {
        fill: rgb(255, 255, 255);
    }
    /*
        TOOLTIP
        DEFAULT*/
}