:root {
    //sidebar tabs header
    --leaflet-sidebar-primary-bg: undefined;
    --leaflet-sidebar-primary-fg: undefined;
    //sidebar content
    --leaflet-sidebar-secondary-bg: undefined;
    --leaflet-sidebar-secondary-fg: udnefined;
    //sidebar header disabled
    --leaflet-sidebar-disabled-bg: undefined;
    --leaflet-sidebar-disabled-fg: undefined;
    --geovisto-input-autocomplete-value-bg: undefined;
    --geovisto-input-autocomplete-value-fg: undefined;
    --geovisto-input-autocomplete-value-notmatch-bg: undefined;
    --geovisto-input-autocomplete-value-notmatch-fg: undefined;
    --geovisto-input-autocomplete-value-placeholder: undefined;
    --geovisto-input-autocomplete-value-hover: undefined;
}

// Sidebar
.leaflet-bar a,
.leaflet-sidebar-tabs>li,
.leaflet-sidebar-tabs>ul>li {
    background-color: var(--leaflet-sidebar-secondary-bg);
    color: var(--leaflet-sidebar-secondary-fg);
    border: 1px, solid, black;
}

.leaflet-bar a:hover,
.leaflet-sidebar-tabs>ul>li:hover {
    background-color: var(--leaflet-sidebar-primary-bg);
    color: var(--leaflet-sidebar-primary-fg);
    opacity: 80%;
}

.leaflet-container {
    font-family: inherit;
}

.leaflet-sidebar-header {
    background-color: var(--leaflet-sidebar-disabled-bg);
    color: var(--leaflet-sidebar-disabled-fg);
}

.leaflet-sidebar-header.enabled,
.leaflet-sidebar-tabs>li.active,
.leaflet-sidebar-tabs>ul>li.active {
    background-color: var(--leaflet-sidebar-primary-bg);
    color: var(--leaflet-sidebar-primary-fg);
}

.leaflet-sidebar-tabs,
.leaflet-sidebar-content {
    background-color: var(--leaflet-sidebar-secondary-bg);
    color: var(--leaflet-sidebar-secondary-fg);
    border: grey;
}

.leaflet-sidebar-tab-content {
    padding: 10px;
}

.leaflet-sidebar-pane {
    padding-left: 10px;
    height: 100%;
    color: var(--leaflet-sidebar-disabled-bg);
}

.leaflet-sidebar-pane.enabled {
    color: var(--leaflet-sidebar-secondary-fg);
}

.leaflet-sidebar-tabs>ul>li.active {
    border-right: 3px solid hsla(189, 49%, 52%, 0.8);
}

// Autocomplete sidebar tab inputs
.geovisto-input-autocomplete {
    height: 30px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: left;
    display: flex;
}

.geovisto-input-autocomplete-label {
    width: 25%;
    height: 30px;
    float: left;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    display: flex;
}

.geovisto-input-autocomplete-component {
    position: relative;
    width: 50%;
    height: 30px;
    float: left;
    align-items: center;
    justify-content: left;
    display: flex;
}

.geovisto-input-autocomplete-value::placeholder {
    color: var(--geovisto-input-autocomplete-value-placeholder);
}

.geovisto-input-autocomplete-value {
    position: relative;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid hsla(189, 49%, 52%, 0.8);
    padding-left: 5px;
    background: var(--geovisto-input-autocomplete-value-bg);
    color: var(--geovisto-input-autocomplete-value-fg);
}

.geovisto-input-autocomplete-value:focus {
    outline: none;
}

.geovisto-input-autocomplete-value:disabled {
    background-color: #c2c2c29d;
}

.geovisto-input-autocomplete-popup {
    overflow-y: scroll;
    max-height: 150px;
    position: absolute;
    top: 80%;
    z-index: 99;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #c7c7c7;
    border-radius: 3px;
    border: 1px solid hsla(189, 49%, 52%, 0.8);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0px;
}

.geovisto-input-autocomplete-option-m {
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100%;
    background: var(--geovisto-input-autocomplete-value-bg);
    color: var(--geovisto-input-autocomplete-value-fg);
    margin: auto;
}

.geovisto-input-autocomplete-option-n {
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 100%;
    background: var(--geovisto-input-autocomplete-value-notmatch-bg);
    border-top: 1px solid #c7c7c7f0;
    color: var(--geovisto-input-autocomplete-value-notmatch-fg);
    margin: auto;
}

.geovisto-input-autocomplete-option-m:hover,
.geovisto-input-autocomplete-option-n:hover,
.geovisto-input-autocomplete-option-a {
    background: var(--geovisto-input-autocomplete-value-hover);
}