#leaflet-combined-map[data-theme="dark1"] {
    /*
        AUTOCOMPLETE*/
    .geovisto-input-autocomplete-value:disabled::placeholder {
        color: rgba(92, 92, 92, 0.639);
    }
    .geovisto-input-autocomplete-value:disabled {
        background-color: rgba(216, 216, 216, 0.6);
        color: rgba(23, 23, 23, 0.845);
    }
    .geovisto-input-autocomplete-option-m {
        background: rgba(45, 45, 45, 0.9);
        color: rgb(199, 199, 199);
    }
    .geovisto-input-autocomplete-option-m:hover {
        background-color: #4c646f;
        color: rgb(225, 225, 225);
    }
    .geovisto-input-autocomplete-option-n {
        background: #636262;
        border-top: 1px solid #a0a0a0;
        color: rgb(225, 225, 225);
    }
    .geovisto-input-autocomplete-option-n:hover {
        background: #4c646f;
    }
    .geovisto-input-autocomplete-option-a {
        background: #4c646f;
    }
    .geovisto-input-autocomplete-value {
        background-color: #37474f;
        color: rgb(194, 194, 194);
    }
    /*
        FILTERS*/
    .divMinus {
        background-color: #37474f;
        color: rgb(191, 191, 191);
        box-shadow: 1px 2px rgba(199, 199, 199, 0.585);
    }
    .divMinus:disabled {
        background: rgba(199, 199, 199, 0.585);
    }
    .divMinus:active {
        box-shadow: 0px 1px rgba(114, 114, 114, 0.585);
    }
    /*
        CONNECTION LAYER*/
    .leaflet-layer-connection-highlight {
        stroke: hsla(189, 49%, 52%, 0.8);
    }
    .leaflet-layer-connection {
        stroke: hsla(189, 49%, 52%, 0.8);
    }
    /*
        CHOROPLETH LAYER*/
    .leaflet-choropleth-item-basic {
        stroke: #1e2224;
    }
    .leaflet-choropleth-item-clr1 {
        fill: #8c8c8c;
    }
    .leaflet-choropleth-item-clr2 {
        fill: #ffffcc;
    }
    .leaflet-choropleth-item-clr3 {
        fill: #c7e9b4;
    }
    .leaflet-choropleth-item-clr4 {
        fill: #7fcdbb;
    }
    .leaflet-choropleth-item-clr5 {
        fill: #41b6c4;
    }
    .leaflet-choropleth-item-clr6 {
        fill: #1d91c0;
    }
    .leaflet-choropleth-item-clr7 {
        fill: #2c6ebf;
    }
    .leaflet-choropleth-item-clr8 {
        fill: #1d40a2;
    }
    .leaflet-choropleth-item-highlight {
        fill: #7fcdbb;
    }
    .leaflet-choropleth-item-select {
        fill: #225ea8;
    }
    .leaflet-choropleth-item-deempasize {
        fill: #8c8c8c;
    }
    .leaflet-choropleth-item-hover {
        stroke-width: 4;
        opacity: 1;
        stroke: rgb(145, 147, 129);
        stroke-dasharray: none;
        fill-opacity: 0.9;
    }
    /*
    MARKER LAYER*/
    .leaflet-marker-icon circle {
        fill: #cccccc;
        fill-opacity: 0.9;
        stroke-width: 0;
    }
    .leaflet-marker-icon text {
        fill: white;
    }
    .leaflet-marker-group circle {
        stroke-width: 2;
        stroke: black;
    }
    .leaflet-marker-level0 circle {
        fill: #b0b0b0;
    }
    .leaflet-marker-level1 circle {
        fill: #b0b0b0;
    }
    .leaflet-marker-level2 circle {
        fill: #808080;
    }
    .leaflet-marker-level3 circle {
        fill: #555555;
    }
    .leaflet-marker-level4 circle {
        fill: #222222;
    }
    .leaflet-marker-level5 circle {
        fill: #111111;
    }
    .leaflet-marker-icon path {
        stroke-width: 0;
        opacity: 0.7;
    }
    .leaflet-marker-donut1 {
        fill: rgb(230, 127, 16);
    }
    .leaflet-marker-donut2 {
        fill: rgb(18, 170, 5);
    }
    .leaflet-marker-donut3 {
        fill: rgb(252, 63, 91);
    }
    .leaflet-marker-icon>div>svg>text {
        fill: rgb(193, 193, 206);
    }
    .leaflet-popup-content-wrapper {
        background-color: rgb(181, 181, 181);
        color: #37474f;
        border: 1px solid #37474f;
    }
    .leaflet-popup-close-button {
        color: #37474f;
    }
    .leaflet-popup-tip {
        background: rgb(181, 181, 181);
    }
    /*
        TOOLTIP SETTINGS*/
    .leaflet-tooltip {
        background-color: rgb(181, 181, 181);
        color: #37474f;
        border-color: #37474f;
    }
    .leaflet-tooltip-left:before {
        border-left: none;
    }
    .leaflet-tooltip-right:before {
        border-right: none;
    }
    .leaflet-sidebar-tabs>li.active,
    .leaflet-sidebar-header,
    .leaflet-sidebar-tabs>ul>li.active {
        background-color: rgba(179, 179, 179, 0.352);
        color: #37474fc9;
    }
    .leaflet-sidebar-tabs>li:hover,
    .leaflet-bar>a:hover,
    .leaflet-sidebar-tabs>ul>li:hover {
        background-color: rgba(171, 171, 171, 0.3);
        color: #37474f;
    }
    .leaflet-sidebar-tabs>ul,
    .leaflet-sidebar-tabs>ul>li,
    .leaflet-sidebar-header.enabled,
    .leaflet-sidebar-tabs,
    .leaflet-bar>a {
        background-color: #37474f;
        color: rgba(232, 232, 232, 0.523);
    }
    .leaflet-sidebar-content {
        background-color: rgba(137, 137, 137, 0.95);
    }
}