.demo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.demo-toolbar {
    padding: 10px;
    input[type="file"] {
        color: rgb(153, 153, 153);
        vertical-align: middle;
    }
}

.demo-map {
    height: 85vh;
    width: 90vw;
}