#leaflet-combined-map[data-theme="light1"] {
    /*
        AUTOCOMPLETE
        DEFAULT*/
    /*
        FILTERS*/
    .leaflet-sidebar-tabs>li:hover,
    .leaflet-bar>a:hover,
    .leaflet-sidebar-tabs>ul>li:hover {
        background-color: rgba(171, 171, 171, 0.3);
        color: #37474f;
    }
    .leaflet-sidebar-tabs>li.active,
    .leaflet-sidebar-tabs>ul>li.active {
        background-color: rgb(239, 239, 239);
        color: rgba(33, 42, 46, 0.955);
    }
    /*
        CONNECTION LAYER
        DEFAULT*/
    /*
        CHOROPLETH LAYER
        DEFAULT*/
    .leaflet-choropleth-item-basic {
        opacity: 0.7;
    }
    .leaflet-choropleth-item-hover {
        opacity: 0.9;
    }
    /*
        MARKER LAYER
        DEFAULT*/
    /*
        TOOLTIP
        DEFAULT*/
}