.leaflet-marker-icon circle {
    fill: #cccccc;
    fill-opacity: 0.9;
    stroke-width: 0;
}

.leaflet-marker-icon text {
    fill: white;
}

.leaflet-marker-group circle {
    stroke-width: 2;
    stroke: black;
}

.leaflet-marker-level0 circle {
    fill: #cccccc;
}

.leaflet-marker-level1 circle {
    fill: #cccccc;
}

.leaflet-marker-level2 circle {
    fill: #aaaaaa;
}

.leaflet-marker-level3 circle {
    fill: #555555;
}

.leaflet-marker-level4 circle {
    fill: #222222;
}

.leaflet-marker-level5 circle {
    fill: #111111;
}

.leaflet-marker-icon path {
    stroke-width: 0;
    opacity: 0.8;
}

.leaflet-marker-donut1 {
    fill: darkred;
}

.leaflet-marker-donut2 {
    fill: goldenrod;
}

.leaflet-marker-donut3 {
    fill: gray;
}