:root {
    --layer-connection: undefined;
    --layer-connection-highlight: undefined;
    --layer-connection-other: undefined;
}

.leaflet-layer-connection {
    fill: none;
    stroke: var(--layer-connection);
    stroke-width: 0.5;
    stroke-opacity: 0.4;
}

.leaflet-layer-connection-highlight {
    fill: none;
    stroke: var(--layer-connection-highlight);
    stroke-width: 2;
    stroke-opacity: 0.4;
}

.leaflet-layer-connection-other {
    fill: none;
    stroke: var(--layer-connection-other);
    stroke-width: 0.5;
    stroke-opacity: 0.4;
}
