
.leaflet-layer-connection {
    fill: none;
    stroke: slateblue;
    stroke-width: 0.5;
    stroke-opacity: 0.4;
}

.leaflet-layer-connection-highlight {
    fill: none;
    stroke: gold;
    stroke-width: 2;
    stroke-opacity: 0.4;
}

.leaflet-layer-connection-other {
    fill: none;
    stroke: lightgray;
    stroke-width: 0.5;
    stroke-opacity: 0.4;
}
