:root {
    --choropleth-item-hover: yellow;
    --choropleth-item-select: orange;
    --choropleth-item-highlight: yellow;
    --choropleth-item-deempasize: #8c8c8c;
}

.leaflet-choropleth-item-basic {
    stroke-width: 2;
    opacity: 0.85;
    stroke: white;
    stroke-dasharray: 0.8;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity: 1;
    fill: #8c8c8c;
    transition: fill 500ms ease;
}

.leaflet-choropleth-item-clr1 {
    fill: #8c8c8c;
}

.leaflet-choropleth-item-clr2 {
    fill: #ffffcc;
}

.leaflet-choropleth-item-clr3 {
    fill: #ffff99;
}

.leaflet-choropleth-item-clr4 {
    fill: #ffcc99;
}

.leaflet-choropleth-item-clr5 {
    fill: #ff9966;
}

.leaflet-choropleth-item-clr6 {
    fill: #ff6600;
}

.leaflet-choropleth-item-clr7 {
    fill: #ff0000;
}

.leaflet-choropleth-item-clr8 {
    fill: #cc0000;
}

.leaflet-choropleth-item-highlight {
    fill: var(--choropleth-item-highlight);
}

.leaflet-choropleth-item-select {
    fill: var(--choropleth-item-select);
}

.leaflet-choropleth-item-deempasize {
    fill: var(--choropleth-item-deempasize);
}

.leaflet-choropleth-item-hover {
    stroke-width: 4;
    opacity: 0.7;
    stroke: var(--choropleth-item-hover);
    stroke-dasharray: none;
    fill-opacity: 0.9;
}

#choropleth-range-input {
    width: 80%;
    height: 100%;
    margin-right: 5px;
}

#choropleth-range-value {
    text-align: center;
    width: 20%;
}
